.Card{
    background-size: cover;
    width: 200px;
    height: 280px;
    border: 5px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
}

.CardActions {
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
}

.CardStats {
    background-color: rgba(0,0,0,.5);
    display: flex;
}

.CardName {
    background-color: rgba(0,0,0,.5);
}