.Board {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/battlelordstoolapp.appspot.com/o/background.jpg?alt=media&token=1fd9930b-602f-4f3d-939c-18e886fcc1a8");
}

.Board td {
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.PlayerTwoBase {
    background-color: rgb(165, 112, 112, 0.5);
}

.PlayerOneBase {
    background-color: rgb(133, 173, 133, 0.5);
}

.BoardPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.BoardChampion {
    width: 100%;
}

.TargetButton {
    position: absolute!important;
    z-index: 9;
}