.Board {
    background-image: url("https://i.pinimg.com/originals/2b/59/73/2b5973de39eb2644364dc0cc317f7dd3.jpg");
}

.Rotate {
    transform: rotate(180deg);
}

.Board td {
    width: 220px;
    height: 150px;
    border: 1px solid black;
}

.PlayerTwoBase {
    background-color: rgb(165, 112, 112, 0.5);
}

.PlayerOneBase {
    background-color: rgb(133, 173, 133, 0.5);
}

.TargetButton {
    background-color: black!important;
    position: absolute!important;
    margin-left: -4.5%!important;
    margin-top: 0px!important;
}