.Board {}

.Board td {
    position: relative;
    border: 1px solid black;
}

@media only screen and (max-width: 600px) {
    .Board td {
        width: 40px;
        height: 40px;
    }
}
  
@media only screen and (min-width: 600px) {
    .Board td {
        width: 120px;
        height: 120px;
    }
}

.PlayerBase {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: 1;
}

.BoardPlayerOneBorder {
    border: solid var(--player-one-color) 5px;
}

.BoardPlayerTwoBorder {
    border: solid var(--player-two-color) 5px;
}

.PlayerTwoBase {
    background-color: var(--player-two-color);
}

.PlayerOneBase {
    background-color: var(--player-one-color);
}

.BoardPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.BoardObject {
    width: 100%;
    z-index: 2;
}

.TargetButton {
    position: absolute!important;
    z-index: 9;
}