.DiscardCard {
    border: 5px solid gold;
}

.CardContainer {
    display: flex;
    padding: 10px;
}

.CardContainer > * {
    margin: 5px;
}

.HandButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.HandButton {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 2;
    border: 1px solid grey;
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 10px;
}

.UsedCardsDialog {
    max-width: 100%!important;
}