@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

span {
    font-size: 13px;
}

.BoardChampionSelected {
    border:solid gold 5px;
}

.Container {
    height: 100%;
}

.Panel {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.DialogContent {
    padding: 0px!important;
}

.PlayerOneObject {
    color: var(--player-one-color);
}

.PlayerTwoObject {
    color: var(--player-two-color);
}

.ChampionCardActions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
 }

.LearnedActions {
    background-color: chocolate!important;
}

.LearnedActions:hover {
    background-color: rgb(146, 139, 134)!important;
}