span {
    font-size: 13px;
}

.Container {
    height: 100%;
}

.DialogContent {
    padding: 0px!important;
}

.ChampionCardActions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
 }

.LearnedActions {
    background-color: chocolate!important;
}

.LearnedActions:hover {
    background-color: rgb(146, 139, 134)!important;
}