@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

span {
    font-size: 13px;
}

.BoardChampionSelected {
    border:solid gold 5px;
}

.Container {
    height: 100%;
}

.Panel {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.DialogContent {
    padding: 0px!important;
}

.BoardChampionHpLabel {
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .BoardChampionHpLabel {
        font-size: 20px;
    }
}
  
@media only screen and (min-width: 600px) {
    .BoardChampionHpLabel {
        font-size: 40px;
    }
}

.PlayerOneObject {
    color: var(--player-one-color);
}

.PlayerTwoObject {
    color: var(--player-two-color);
}

.ChampionCardActions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
    flex-wrap: wrap;
 }

 .BoardChampionDirectionIcon {
    background-color: white;
    border: 1px solid black;
    border-radius: 30%;
    display: flex;
    align-items: center;
 }

 @media only screen and (max-width: 600px) {
    .BoardChampionDirectionIcon {
        height: 16px;
        width: 11px;
    }  
}