.Card{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.CardActions {
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
}

.CardStats {
    background-color: rgba(0,0,0,.5);
    font-size: large;
    font-weight: 400;
}

.CardStats div {
    color: white;
    border: 1px solid white;
    padding: 4px;
    display: inline-block;
}

.CardName {
    background-color: rgba(0,0,0,.5);
}

.CardContent {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ChampionStatusEffect {
    color: pink;
}

.RequirementsText {
    color: yellow;
}

.DialogContent {
    padding: 0px!important;
    background-color: black;
}

.CardImage {
    height: 500px;
}

.CardActions {
    width: 100%;
}