.Card {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.CardMotion {
    height: 100%;
}

.CardActions {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding: 5px;
}

.CardStats {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: large;
    font-weight: 400;
    padding: 5px;
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.CardStats div {
    color: black;
    border: 1px solid black;
    padding: 4px;
    display: inline-block;
}

.CardContent {
    padding: 0!important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ChampionStatusEffect {
    color: pink;
}

.RequirementsText {
    color: yellow;
}

.DialogContent {
    padding: 0px!important;
    background-color: black;
}

.CardImage {
    height: 500px;
}