.Card{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 280px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.CardActions {
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: space-around;
}

.CardStats {
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.CardStats div {
    padding: 3px;
}

.CardName {
    background-color: rgba(0,0,0,.5);
}

.CardContent {
    width: 100%;
    padding: 0!important;
}

.ChampionStatusEffect {
    color: pink;
}

.RequirementsText {
    color: yellow;
}

.DialogContent {
    padding: 0px!important;
    background-color: black;
}

.CardImage {
    height: 500px;
}