:root {
  --player-one-color: lightgreen;
  --player-two-color: lightcoral;
}

.App {
  text-align: center;
  padding: 5px;
}

.App-content {
  padding: 5px;
}

.App-rotate {
  transform: rotate(180deg);
}

.App-card {
  width: 200px;
  height: 280px;
}