:root {
  --player-one-color: #94b354;
  --player-two-color: #b06455ff;
}

.App {
  text-align: center;
}

.App-player-one-color {
  color: var(--player-one-color);
}

.App-player-two-color {
  color: var(--player-two-color);
}

.App-rotate {
  transform: rotate(180deg);
}

/* mobile */
@media only screen and (max-width: 600px) {
  .App-card {
    width: 71px;
    height: 101px;
  }

  .App-card-large {
    width: 252px;
    height: 360px;
  }
}
/* desktop */
@media only screen and (min-width: 600px) {
  .App-card {
    width: 200px;
    height: 280px;
  }

  .App-card-large {
    width: 330px;
    height: 470px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}